.footer-main{
    width:100%;
    height:15vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

.corporate span{
  font-size: small;

}

.social-media img{
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 600px) {
  .footer-main{
    flex-direction: column-reverse;
  }
  
}